* {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--color-grey-96, #f4f5f7);
  padding: 19px 16px 16px 20px;
  width: 276px;
  height: 413px;

  .loIXe {
    flex-shrink: 0;
    align-self: stretch;
    line-height: 22px;
    letter-spacing: 0;
    color: var(--nhaxengocson-vn-Black-85, #000000d9);
    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .container2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    column-gap: 71px;
    margin-right: 4px;

    .container {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;

      .icFilterOutlineSvg {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        overflow: hidden;
      }

      .bLc {
        flex-shrink: 0;
        line-height: 28px;
        letter-spacing: 0;
        color: var(--nhaxengocson-vn-Downriver, #0c1e51);
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }
    }

    .xAblc {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--nhaxengocson-vn-Dodger-Blue, #1890ff);
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .heading3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 20px;
    margin-right: 4px;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: var(--nhaxengocson-vn-Geyser, #dee2e6);
    padding-bottom: 7px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 10px;
    margin-right: 4px;
    row-gap: 15px;

    .itemLabel {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;

      .input {
        flex-shrink: 0;
        border: 1px solid var(--nhaxengocson-vn-Boulder, #767676);
        border-radius: 3px;
        background: var(--color-white-solid, #ffffff);
        width: 13px;
        height: 13px;
      }

      .gIngnm {
        flex-shrink: 0;
        padding: 0px 0px 0px 16px;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--nhaxengocson-vn-Black-85, #000000d9);
        font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }
  }

  .heading32 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 30px;
    margin-right: 4px;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: var(--nhaxengocson-vn-Geyser, #dee2e6);
    padding-bottom: 7px;
  }

  .container4 {
    position: relative;
    margin-top: 10px;
    width: 236px;
    height: 30px;

    .container3 {
      display: flex;
      position: absolute;
      top: 15px;
      left: 1px;
      align-items: flex-start;
      width: 235px;
      height: 1px;

      .background {
        border-radius: 3px;
        background: var(--color-azure-53, #1e63ef);
        width: 235px;
        height: 5px;
      }
    }

    .backgroundBorderShad {
      position: absolute;
      top: 8px;
      left: 1px;
      border: 2px solid var(--nhaxengocson-vn-White, #ffffff);
      border-radius: 9px;
      box-shadow: 0px 0px 1px 1px #ced4da;
      background: var(--color-azure-53, #1e63ef);
      width: 18px;
      height: 18px;
      overflow: hidden;
    }
  }

  .autoWrapper {
    position: relative;
    margin-top: 20px;
    width: 236px;
    height: 46px;

    .a0000 {
      display: flex;
      position: absolute;
      top: -14px;
      left: 1px;
      align-items: center;
      width: 32px;
      height: 15px;
      line-height: 19px;
      letter-spacing: 0;
      color: var(--nhaxengocson-vn-Storm-Gray, #6a7189);
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .a2359 {
      position: absolute;
      top: -16px;
      right: -4px;
      padding: 0px 0px 1px;
      width: 30px;
      height: 20px;
      line-height: 19px;
      letter-spacing: 0;
      color: var(--nhaxengocson-vn-Storm-Gray, #6a7189);
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .heading33 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      border-width: 0px 0px 1px;
      border-style: solid;
      border-color: var(--nhaxengocson-vn-Geyser, #dee2e6);
      padding-top: 16px;
      padding-bottom: 7px;
      width: 236px;
      height: 46px;
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 4px;
    padding-right: 0;
    padding-left: 1px;

    .a0 {
      display: flex;
      align-items: center;
      width: 8px;
      height: 15px;
      line-height: 19px;
      letter-spacing: 0;
      color: var(--nhaxengocson-vn-Storm-Gray, #6a7189);
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .a60 {
      padding: 0px 0px 1px;
      line-height: 19px;
      letter-spacing: 0;
      color: var(--nhaxengocson-vn-Storm-Gray, #6a7189);
      font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }
  }
}
