* {
  box-sizing: border-box;
}

.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  width: 876px;
  height: 58px;

  .thXuNbxGiPbtNgY16112 {
    flex-shrink: 0;
    align-self: stretch;
    line-height: 22px;
    letter-spacing: 0;
    color: var(--nhaxengocson-vn-White, #ffffff);
    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .chNChiUi {
    flex-shrink: 0;
    align-self: stretch;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--nhaxengocson-vn-White, #ffffff);
    font-family: Lexend, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .icDirectionsRightSvg {
    flex-shrink: 0;
    width: 26px;
    height: 27px;
    overflow: hidden;
  }

  .background {
    display: flex;
    flex-grow: 1;
    align-items: center;
    column-gap: 10px;
    border-radius: 8px;
    background: var(--color-grey-33, #555555);
    padding: 8px;

    .icDirectionsRightSvg2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 9999px;
      background: var(--color-white-solid, #ffffff);
      padding-right: 7px;
      padding-left: 7px;
      height: 40px;
      overflow: hidden;
    }

    .container {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      min-width: 301px;
    }
  }

  .background2 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    opacity: 0.2;
    border-radius: 8px;
    background: var(--color-grey-33, #555555);
    padding: 8px;

    .autoWrapper {
      position: relative;
      flex-shrink: 0;
      width: 40px;
      height: 40px;

      .icDirectionsRightSvg3 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        background: var(--color-white-solid, #ffffff);
        padding-right: 7px;
        padding-left: 7px;
        width: 40px;
        height: 40px;
        overflow: hidden;
        rotate: -180deg;
      }
    }

    .container2 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      margin-left: -20px;
      min-width: 301px;
    }
  }
}
