.search-trip {
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    padding: 32px;
    background-color: #ffffff;
    font-family: "Lexend";
    max-width: 1200px;
    margin: 0 auto;
    user-select: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    font-size: 15px;

    &__bar {
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: nowrap;
        min-height: 70px;
        position: relative;
    }

    &__locations {
        display: flex;
        flex: 1 1 auto;
        position: relative;
        gap: 60px;
        min-width: 0;
    }
}
