.home-page__banner-search-wrapper {
    position: relative;
}

.home-page__search-trip-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    top: 478px;
    z-index: 10;

    @media (max-width: 1024px) {

        top: 378px;
    }

    @media (max-width: 768px) {
        top: 278px;
    }

    @media (max-width: 480px) {
        top: 178px;
    }
}

