.container_test {
    width: 400px;
    background-color: pink;
    height: 200px;
}

h2 {
    color: red;
}

.row {
    background-color: grey;
    display: flex;
}

.row__label {
    min-width: 120px; // Đảm bảo tất cả label có cùng chiều rộng
}

.row__detail {
    flex: 1; // Phần detail sẽ chiếm phần còn lại
}