

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend";
}
/* Ẩn hoàn toàn text gốc T / C */
.MuiDayCalendar-weekDayLabel {
    position: relative;
    font-size: 0 !important;
    color: transparent !important;
}

/* Nếu MUI bọc thêm <abbr>, ẩn luôn */
.MuiDayCalendar-weekDayLabel abbr {
    font-size: 0 !important;
    color: transparent !important;
}

/* Text mới T2, T3,... */
.MuiDayCalendar-weekDayLabel::after {
    content: "";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Lexend", system-ui, -apple-system, BlinkMacSystemFont;
    font-size: 12px;
    color: #9e9e9e;
}

/* Thứ 2 -> CN */
.MuiDayCalendar-weekDayLabel:nth-child(1)::after {
    content: "T2";
}
.MuiDayCalendar-weekDayLabel:nth-child(2)::after {
    content: "T3";
}
.MuiDayCalendar-weekDayLabel:nth-child(3)::after {
    content: "T4";
}
.MuiDayCalendar-weekDayLabel:nth-child(4)::after {
    content: "T5";
}
.MuiDayCalendar-weekDayLabel:nth-child(5)::after {
    content: "T6";
}
.MuiDayCalendar-weekDayLabel:nth-child(6)::after {
    content: "T7";
}
.MuiDayCalendar-weekDayLabel:nth-child(7)::after {
    content: "CN";
}
