.introContainer {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 0;
    padding-bottom: 0;

    .intro {
        flex: 1;
        // background-color: aquamarine;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    img {
        width: 50px;
        height: 50px;
    }

    p {
        font-size: 20px;
        font-weight: 550;
        font-family: "Lexend";
    }
}
