.search {
    padding: 25px 0;
    background-color: #144a7f;
    margin-bottom: 25px;
}

.trip-container {
    max-width: 1200px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.trip-date {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 904px;
    height: 58px;
}
