.search {
    padding: 25px 0;
    background-color: #144a7f;
    margin-bottom: 25px;
}

.trip-container {
    max-width: 1200px;
    display: flex;
    gap: 20px;
}

.trip-right {
    width: 1000px;
    height: 120px;
    background-color: pink;
}

.trip-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    width: 904px;
    height: 58px;
}
