.wrapLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  
    .container {
      width: 1200px;
      max-width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }
  